<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>about us </title>
</head>

<style>
   p{
         text-align: justify;
         word-spacing:-1px;

     }

    </style>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: #2DB426;">WHO WE ARE </h3>
                    </div>
                </div>
                <p style=" text-align: justify; /* For Edge */
                text-align-last: center;"><b>AODH PET CARE</b> is your dependable and trustworthy partner for all your pet care needs. We pride ourselves in enriching pet’s lives by connecting pet owners and all pet services with our single digital platform.</p>
                <div class="row">
                <div class="col text-center">
                    <h3 style="color: #2DB426;"> OUR MISSION</h3>
                    </div>
                    </div>
                   
                         
                                    <p style="color: #2E8AD5;text-align: center;"> There for you. Care for pets.</p>
                                  
                               
                                            <p style="text-align: center;">     We are on a mission to keep all pet’s healthy.</p>
                                           
                
                    
                <p>Our mission is simple: - To ensure that pets have all the care they need and to provide the best care and attention to your pet, by cutting through the noise and offering you all the services right on your fingertips.	</p>
                <div class="row">
                <div class="col text-center">
                    <h3 style="color: #2DB426;">  OUR PASSION</h3>
                    </div>
                    </div>
               
                <p>Ensure that all pets in our service area have the best chance at a life full of happiness, love, and good health.</p>
                <p>We started on the belief of proving a single platform for pets including vaccination and deworming reminders, medical records, pet care information, video consultation and more.</p>
                <p>At Aodh! We believe in a safe and happy world where pets get their way every day. This means enabling your pet to live to its fullest. As a professional pet care service, we are dedicated to you and your pets. Our goal is to provide superior pet services and care with excellent customer service.  </p>
   
<p>
                CONVENIENCE
                </p>
                <p>
                •	Book Service 24/7
            </p>
            <p>
                •	Video Consultation 
            </p>
            <p>
                •	Hospital consultation 
            </p>

            <div class="row">
                <div class="col text-center">
                    <h3 style="color: #2DB426;">  HELP</h3>
                    </div>
                    </div>

           <p>
            Need help? Feel free to email us your question directly at <u>aodhpetcare@gmail.com </u>or please call us at <b>+91- 9030504908</b>
            
        </p> 

            </div>
        </div>
</body>
</html>