<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>refund policy</title>
</head>
<style>
     p{
         text-align: justify;
         word-spacing:-1px;

     }
     
</style>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3> REFUND POLICY </h3>
                    </div>
                </div>
      <p>To place a refund request for an appointment placed with Aodh Petcare, You would need to contact <b> Aodh Petcare </b> via email at <u>aodhpetcare@gmail.com,</u> by phone at <b>+91- 40 48503612 </b>
          </p>
          <p>Please have your order number available and provide a reason for your request in order to speed up your refund process. Your request will be reviewed within a 2 days standard response period and we will notify you via email or mobile of the results. We reserve the right to extend the standard response time in exceptional cases with a prior notice to you.</p>
   <p>In cases of Direct Debit, the refund request can be processed only after a 3-5 working days from the payment date, period needed for your bank process settlement to complete.<b> Aodh Petcare </b> will only review and respond to your refund request after these 3-5 days working period ends.</p>
<p>You may submit a request to cancel your order on the same day, Please note that Aodh Petcare will not be able to approve the cancelation request if cancelled less than 12 Hours before the appointed time.</p>

<p>In case cancellation is initiation by end user:</p>
<p>•	<b>Cancelled less than 12 Hours from Appointment Time</b>- 100% of Consultation Fees will be refunded. However, please note that convenience fees will not be refunded.</p>
<p>•	<b>After Scheduled Appointment Time </b>- neither Consultation Fees nor Convenience Fees will be refunded.</p>
<p>If the refund request is granted by Aodh Petcare payments are refunded as follows:</p>
<p>1.	Credit / Debit Cards payments will be refunded within three (3) to five (5) working days.</p>
<p>2.	Other payment methods will be refunded between three (3) to seven (7) working days.</p>
<p>In case of cancellation or non-confirmation of the appointment by<b> Aodh Petcare </b>due to any reasons, two options are available to the consumer:</p>
<p>•	He/She may ask for rescheduling the appointment with the specialist doctor.</p>
<p>•	He/She may claim a refund of the payment.</p>
<p>•	In case the customer misses the appointment, he shall not be entitled to any refund.</p>
<p>•	In case the consumer's credit card/debit card/payment account has been accidentally overcharged, please notify<b> Aodh Petcare </b>of the same at the earliest. In case of over-charging, the consumer has the following options: He may claim a refund of the outstanding amount. In such a scenario,<b> Aodh Petcare</b> shall make all endeavours to refund the amount within 7-14 working days. The outstanding amount may also be credited to the account of the consumer </p>
<p>•	The refund shall be made by e-banking or by demand draft or by other such mode other than cash, depending upon the suitability of both,<b> Aodh Petcare </b>and the customer.</p>

<p>At the time of cancellation, amount will be refunded via same source of payment and will be subject to the payment terms of the source only. Amount will be refunded within 7 -14 working days.  </p>

</div>
        </div>
</body>
</html>