<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>privacy policy</title>
</head>
<style>
    p {
        text-align: justify;
        word-spacing: -1px;


    }
</style>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3> PRIVACY POLICY </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3> 1. Introduction </h3>
                </div>
            </div>

            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">This Privacy Policy
                describes how ‘Aodh Petcare’ collects and uses Personal Data about you through the
                use of our websites, mobile applications, and through email, text, and other electronic communications
                between you and Aodh.</p>
            <p>Aodh Intelligence Private Limited (“Aodh Petcare,” or “Aodh” “we,” “our,” or “us”) respects your privacy
                and are committed to protecting it through our compliance with this policy.</p>
            <p>This Privacy Policy (our “Privacy Policy”) describes the types of information we may collect from you or
                that you may provide when you visit the websites https://aodhpet.com/ (collectively, our “Website”) and
                the associated Aodh applications (collectively, our “Applications”) and our practices for collecting,
                using, maintaining, protecting, and disclosing that information.</p>
            <p>This Privacy Policy applies to information we collect:</p>
            <p>• on our Website and Application;</p>
            <p>
                • in email, text, and other electronic messages between you and our Website and Application;
            </p>
            <p>
                • when you interact with our advertising and applications on third-party websites and services, if those
                applications or advertising include links to this policy.
                It does not apply to information collected by:
            </p>
            <p>
                us offline or any other means, including on any other website operated by Aodh or any third-party;
            </p>
            <p>
                • your Provider; or
            </p>
            <p>
                • any third party, including through any application or content (including advertising) that may link to
                or be accessible from or on the Website or Application.
            </p>
            <p>Please read this policy carefully to understand our policies and practices regarding your information and
                how we will treat it. If you do not agree with our policies and practices, your choice is not to use our
                Website and Applications. By accessing or using our Website or Application, you agree to this Privacy
                Policy. This Privacy Policy may change from time to time (see Changes to Our Privacy Policy). Your
                continued use of our Website or Application after we make changes is deemed to be acceptance of those
                changes, so please check this Privacy Policy periodically for updates.</p>
            <div class="row">
                <div class="col">
                    <h3> 2. Information We Collect About You and How We Collect It</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">We collect different
                types of information about you, including information that may directly identify
                you, information that is about you but individually does not personally identify you, and information
                that we combine with our other users. This includes information that we collect directly from you or
                through automated collection technologies.</p>
            <p><u>Generally.</u></p>
            <p>We collect several types of information from and about users of our Website and Application, specifically
                information:</p>

            <p>
                • by which you may be personally identified, such as: name; home, work, billing, and shipping address;
                e-mail address; telephone numbers; date of birth; credit card, debit card, or financial/bank account
                numbers (for payment purposes only); government or license identification numbers (including NPI numbers
                for Providers); driver’s license numbers; photos, audio, and video of you; your gender; your medical
                history and health information; and criminal background checks / information (through our third party
                providers); or any other identifier by which you may be contacted online or offline (all of the
                foregoing collectively, “Personal Data”);
            </p>
            <p>• that is about you but individually does not identify you, such as traffic data, location data, logs,
                referring/exit pages, date and time of your visit to our Website or use of our Application, error
                information, clickstream data, and other communication data and the resources that you access and use on
                the Website or through our Application; or</p>
            <p>• about your internet connection, the equipment you use to access our Website or use our Application and
                usage details.</p>
            <p>We collect this information:</p>
            <p>
                • directly from you when you provide it to us;
            </p>
            <p>
                • automatically as you navigate through the Website or use our Application. Information collected
                automatically may include usage details, IP addresses, and information collected through cookies, web
                beacons, geo-location services, and other tracking technologies; and

            </p>
            <p>
                • from third parties, for example, our business partners and the Providers.
            </p>
            <p>
                <u> Information You Provide to Us and Your Provider</u>
            </p>
            <p>
                The information we collect on or through our Website or through our Application are:
            </p>
            <p>
                • information that you provide by filling in forms on our Website or the Application. This includes
                information provided at the time of registering to use our Website or Application, using our physician
                consultation or other services, using the search feature of our Website and Applications, or requesting
                further services. We may also ask you for information when you report a problem with our Website or
                Application;
            </p>
            <p>
                • records and copies of your correspondence (including email addresses), if you contact us;
            </p>
            <p>
                • your responses to surveys that we might ask you to complete;
            </p>
            <p>
                • details of transactions and interactions you carry out through our Website or through the Application
                and of the fulfillment of your orders. You may be required to provide financial information before
                placing an order through our Website or Application; and
            </p>
            <p>
                • information you provide to our third party service providers on our behalf (including information you
                provide for background checks and to process payments). We also may obtain information you share with
                your Provider from him or her. In such a case, we will utilize strict confidentiality as legally
                required to protect your Personal Data.
            </p>
            <p>
                The Personal Data we collect from you may be required to enter into a contract with Aodh, for Aodh
                Petcare to perform under the contract, and to provide you with our products and services. If you refuse
                to provide such Personal Data or withdraw your consent to our processing of Personal Data, then in some
                cases we may not be able to enter into the contract or fulfill our obligations to you under it.
            </p>
            <p>
                You also may provide information to be published or displayed (hereinafter, “posted”) on public areas of
                the Website or Application, on third party social media sites (such as LinkedIn or Facebook), or
                transmitted to other users of the Website or Application or third parties (collectively, “User
                Contributions”). Your User Contributions are posted on and transmitted to others at your own risk.
                Although we limit access to certain pages, please be aware that no security measures are perfect or
                impenetrable and we have no control over the security of third party social media sites. Additionally,
                we cannot control the actions of other users of the Website and Application with whom you may choose to
                share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions
                will not be viewed by unauthorized persons.
            </p>
            <p><u>Information We Collect Through Automatic Data Collection Technologies</u></p>

            <p>
                As you navigate through and interact with our Website and Application, we may use automatic data
                collection technologies to collect certain information about your equipment, browsing actions, and
                patterns, specifically:
            </p>
            <p>
                • details of your visits to our Website or Application, such as traffic data, location data, logs,
                referring/exit pages, date and time of your visit to our Website or use of our Application, error
                information, clickstream data, and other communication data and the resources that you access and use on
                the Website or in the Application; and
            </p>
            <p>
                • Information about your computer, mobile device, and internet connection, specifically your IP address,
                operating system, browser type, and Application version information.

            </p>
            <p>
                The information we collect automatically may include Personal Data or we may maintain it or associate it
                with Personal Data we collect in other ways or receive from third parties. It helps us to improve our
                Website and Application and to deliver a better and more personalized service by enabling us to:
            </p>
            <p>
                • estimate our audience size and usage patterns;
            </p>
            <p>
                • verify your location to ensure we can provide you with our services;
            </p>
            <p>
                • store information about your preferences, allowing us to customize our Website and our Application
                according to your individual interests;

            </p>
            <p>
                • recognize you when you return to our Website and our Application.
            </p>
            <p>
                The technologies we use for this automatic data collection may include:
            </p>
            <p>
                <b>•<u> Google Analytics:</u></b> We use Google Analytics, a web analytics service provided by Google,
                Inc. (“Google”)
                to collect certain information relating to your use of the Website. Google Analytics uses cookies to
                help the Website analyze how users use the site. You can find out more about how Google uses data when
                you visit our Website by visiting “How Google uses data when you use our partners' sites or apps”,
                <u> (located at google.com/policies/privacy/partners/).</u> We may also use Google Analytics Advertising
                Features or other advertising networks to provide you with interest-based advertising based on your
                online activity. For more information regarding Google Analytics, please visit Google's website and
                pages that describe Google Analytics, such as <u> www.google.com/analytics/learn/privacy.html</u>.
            </p>
            <div class="row">
                <div class="col">
                    <h3> 3. Lawful Basis for Processing Your Personal Data</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                We have a lawful basis for our processing of your Personal Data, including processing for our legitimate
                interests (when balanced against your rights and freedoms), to fulfill our obligations to you under a
                contract with you, and required by law, and with your consent.
            </p>

            <p> If you are in the Indian, the processing of your Personal Data is lawful only if it is permitted under
                the applicable data protection laws. We have a lawful basis for each of our processing activities
                (except when an exception applies as described below):
            </p>
            <p>
                • By using our Website, you consent to our collection, use, and sharing of your Personal Data as
                described in this privacy policy. If you do not consent to this privacy policy, please do not use the
                Website;
            </p>
            <p>
                • Legitimate Interests. We will process your Personal Data as necessary for our legitimate interests.
                Our legitimate interests are balanced against your rights and freedoms and we do not process your
                Personal Data if your rights and freedoms outweigh our legitimate interests. Our legitimate interests
                are to: facilitate communication between Medici and you; detect and correct bugs and to improve our
                Website; safeguard our IT infrastructure and intellectual property; detect and prevent fraud and other
                crime; promote and market our business; check your credit and perform risk assessments; perform
                employment screening and to manage our workforce, assets, and business; develop our product and
                services; and to provide you with the products and services on our Website and Application;
            </p>
            <p>
                • To Fulfill Our Obligations to You under our Contract. We process your Personal Data in order to
                fulfill our obligations to you pursuant to our contract with you to deliver our goods and services to
                you.
            </p>
            <p>
                • As Required by Law. We may also process your Personal Data when we are required or permitted to by
                law; to comply with government inspections, audits, and other valid requests from government or other
                public authorities; to respond to legal process such as subpoenas; or as necessary for us to protect our
                interests or otherwise pursue our legal rights and remedies (for instance, when necessary to prevent or
                detect fraud, attacks against our network, or other criminal and tortious activities), defend
                litigation, and manage complaints or claims.
            </p>


            <div class="row">
                <div class="col">
                    <h3> 4. Special Categories of Information</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">

                We may process some Personal Data considered sensitive when necessary to carry out our obligations under
                the law or to protect our legitimate interests.
            </p>

            <p>
                Some Personal Data processed by Aodh Petcare may be considered sensitive, including personal data
                concerning your health or information relating to criminal convictions as part of background checks
                conducted by our third party vendors on our behalf. Aodh processes this information only to the extent
                necessary to carry out its obligations under the law or to the extent necessary to protect Aodh’s
                legitimate interests.
            </p>


            <div class="row">
                <div class="col ">
                    <h3> 5. Automated Decisions Making</h3>
                </div>
            </div>

            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">We generally do not
                use your Personal Data with any automated decision making processes.</p>
            <p>Aodh does not use your Personal Data with any automated decision making process, including profiling,
                which may produce a legal effect concerning you or similarly significantly affect you.</p>

            <div class="row">
                <div class="col ">
                    <h3> 6. How We Use Your Information </h3>
                </div>
            </div>
            <div style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                <p>
                    We use your Personal Data for various purposes described below, including to:
                </p>
                <p>
                    • provide our Website or Application to you;
                </p>
                <p>
                    • provide products and services to you;
                </p>
                <p>
                    • provide you with information you request from us;
                </p>
                <p>
                    • enforce our rights arising from contracts;
                </p>
                <p>
                    • notify you about changes; and
                </p>
                <p>
                    • provide you with notices about your account.
                </p>
            </div>
            <p>
                We use information that we collect about you or that you provide to us, including any Personal Data:
            </p>
            <p>
                • to present our Website and its contents to you;
            </p>
            <p>
                • to present our Application;
            </p>
            <p>
                • to register and service your account with us;
            </p>
            <p>
                • to provide and improve the products and services we offer to you;
            </p>
            <p>
                • to provide you with information, products, or services that you request from us;
            </p>
            <p>
                • to administer surveys and promotions;
            </p>
            <p>
                • to process, fulfill, and administer transactions and orders for products and services ordered by you;
            </p>
            <p>
                • to contact you in response to a request;
            </p>
            <p>
                • to enhance and improve our Website and our Applications;
            </p>
            <p>
                • to fulfill any other purpose for which you provide it;
            </p>
            <p>
                • to carry out our obligations and enforce our rights arising from any contracts entered into between
                you and us, including for billing and collection;

            </p>
            <p>
                • to notify you about changes to our Website, our Application, or any products or services we offer or
                provide though them;

            </p>
            <p>
                • in any other way we may describe when you provide the information; and
            </p>
            <p>
                • for any other purpose with your consent.
            </p>



            <p>We may also use your information to send you secure electronic messages and personalized emails
                pertaining to your interests as inferred from your use of our Website or Application, including news,
                announcements, reminders and opportunities from Aodh, or about our own goods and services that may be of
                interest to you. If you wish to opt-out of receiving such communications, you may do so at any time by
                clicking unsubscribe at the bottom of these communications. For more information, see <u> Choices About
                    How
                    We Use and Disclose Your Information</u>.</p>

            <p>
                We may use how you browse and shop in order to show you ads for company or our advertising partners that
                are more relevant to your interests. We may use cookies and other information to provide relevant
                interest-based advertising to you. Interest-based ads are ads presented to you based on your browsing
                behavior in order to provide you with ads more tailored to your interests. These interest-based ads may
                be presented to you while you are browsing our Website, Application, or third party sites not owned by
                Aodh.
            </p>

            <p>
                Aodh may aggregate or de-identify your information such that it is no longer considered protected health
                information or personally identifiable information. Aodh may disclose, sell, or otherwise use such
                aggregated or de-identified information for its own purposes or provide such information to third
                parties for analytics, research, or other purposes.
            </p>
            <p>
                Where Aodh collects your information in its role as a HIPAA business associate to your Provider, Aodh
                will use and disclose that information in accordance with the terms of the Provider’s Notice of Privacy
                Practices, the business associate agreement between your Provider and Aodh, and applicable law.
            </p>

            <div class="row">
                <div class="col">
                    <h3> 7. Disclosure of Your Information </h3>
                </div>
            </div>
            <div style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">

                <p>
                    We do not share, sell, or otherwise disclose your Personal Data for purposes other than those
                    outlined
                    in this Privacy Policy. We disclose your Personal Data to a few third parties, including:
                </p>

                <p>
                    • our affiliates and our third-party service providers that we use to support our business;
                </p>
                <p>
                    • to a company we merge, acquire, or that buys us, or in the event of change in structure of our
                    company
                    of any form;
                </p>
                <p>
                    • to comply with our legal obligations;
                </p>
                <p>
                    • to enforce our rights; and
                </p>
                <p>
                    • with your consent.

                </p>
            </div>
            <p>We do not share, sell, or otherwise disclose your Personal Data for purposes other than those outlined in
                this Privacy Policy. However, we may disclose aggregated information about our users, and information
                that does not identify any individual, without restriction.</p>
            <p>


                We may disclose Personal Data that we collect or you provide as described in this privacy policy:
            </p>
            <p>
                • to our subsidiaries and affiliates;
            </p>
            <p>
            </p>
            <p>
                • to contractors, service providers, and other third parties we use to support our business. The
                services provided by these organizations include providing IT and infrastructure support services, and
                ordering, marketing, and payment processing services. Our payment processors’ privacy policies may be
                found at <u> https://razorpay.com/privacy/</u>
            </p>
            <p>
                • to a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization,
                dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as
                part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Aodh about our
                Website and Application users are among the assets transferred;
            </p>
            <p>
                • to fulfill the purpose for which you provide it. For example, we may disclose your personal
                information to a Provider if you use such feature of our Website or Application;
            </p>
            <p>
                • for any other purpose disclosed by us when you provide the information; and,
            </p>
            <p>
                • with your consent.
            </p>
            <p>

                We may also disclose your Personal Data:
            </p>
            <p>
                • to comply with any court order, law, or legal process, including to respond to any government or
                regulatory request;
            </p>
            <p>
                • if we believe disclosure is necessary or appropriate to protect the rights, property, or safety of
                Aodh, our customers, or others. This includes exchanging information with other companies and
                organizations for the purposes of fraud protection and credit risk reduction.

            </p>

            <div class="row">
                <div class="col">
                    <h3> 8. Choices About How We Use and Disclose Your Information</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                We offer you choices on how you can opt out of our use of tracking technology,disclosure of your
                Personal Data for our advertising to you, and other targeted advertising.</p>
            <p> We do not control the collection and use of your information collected by third parties described above
                in <u> Disclosure of Your Information.</u> When possible, these organizations are under contractual
                obligations
                to use this data only for providing the services to us and to maintain this information strictly
                confidential. These third parties may, however, aggregate the information they collect with information
                from their other customers for their own purposes.
            </p>

            <p>In addition, we strive to provide you with choices regarding the Personal Data you provide to us. We have
                created mechanisms to provide you with control over your Personal Data:
            </p>
            <p>
                • Tracking Technologies and Advertising. You can set your browser or operating to refuse all or some
                cookies, or to alert you when cookies are being sent. If you disable or refuse cookies, please note that
                some parts of our Website or Application may then be inaccessible or not function properly.
            </p>
            <p>
                • Promotional Offers from Aodh. We will only use your contact information to promote our own or third
                parties’ products and services with your express consent. If you wish to consent to such use, you can
                check the relevant box located on the form on which we collect your Personal Data or otherwise seek such
                consent. If you wish to change your choice, you may do so at any time by sending us an email stating
                your request to aodhpetcare@gmail.com (for Aodh Petcare users both doctors and customers). If we have
                sent you a promotional email, you may send us a return email asking to be omitted from future email
                distributions. This opt out does not apply to information provided to Medici as a result of a product
                purchase, warranty registration, product service experience or other transactions.
            </p>
            <p>
                • Targeted Advertising. We will only use information that we collect or you provide to deliver
                advertisements according to our advertisers’ target-audience preferences with your express consent. If
                you wish to consent to such use, you can check the relevant box located on the form on which we collect
                your Personal Data or otherwise seek such consent. If you wish to change your choice, you may do so at
                any time by sending us an email stating your request to aodhpetcare@gmail.com (for Aodh Petcare users
                both doctors and customers).
            </p>
            <div class="row">
                <div class="col">
                    <h3> 9. Your Rights Regarding Your Information and Accessing and Correcting Your Information</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                You may have certain rights under applicable data protection laws, including the right to access and
                update your Personal Data, restrict how it is used, transfer certain Personal Data to another
                controller, withdraw your consent at any time, and the right to have us erase certain Personal Data
                about you. You also have the right to complain to a supervisory authority about our processing of your
                Personal Data.</p>
            <p>Applicable data protection laws may provide you with certain rights with regards to our processing of
                your Personal Data.
            </p>
            <p>
                • Access and Update. You can review and change your Personal Data by contacting us through the Contact
                Information You may also notify us of any changes or errors in any Personal Data we have about you to
                ensure that it is complete, accurate, and as current as possible. We may not be able to accommodate your
                request if we believe it would violate any law or legal requirement or cause the information to be
                incorrect.
            </p>
            <p>
                • You have the right to restrict our processing of your Personal Data under certain circumstances. In
                particular, you can request we restrict our use of it if you contest its accuracy, if the processing of
                your Personal Data is determined to be unlawful, or if we no longer need your Personal Data for
                processing but we have retained it as permitted by law.
            </p>
            <p>
                • To the extent the Personal Data you provide Medici is processed based on your consent, you have the
                right to request that we provide you a copy of, or access to, all or part of such Personal Data in
                structured, commonly used and machine-readable format. You also have the right to request that we
                transmit this Personal Data to another controller, when technically feasible.
            </p>
            <p>
                • Withdrawal of Consent. To the extent that our processing of your Personal Data is based on your
                consent, you may withdraw your consent at any time by contacting us through the Contact Information. We
                may no longer be able to provide you with some or all of our products and services based on your
                withdrawal of your consent. Withdrawing your consent will not, however, affect the lawfulness of the
                processing based on your consent before its withdrawal, and will not affect the lawfulness of our
                continued processing that is based on any other lawful basis for processing your Personal Data.
            </p>
            <p>
                • Right to be Forgotten. You have the right to request that we delete all of your Personal Data. We
                cannot delete your Personal Data except by also deleting your user account, and we will only delete your
                account when we no longer have a lawful basis for processing your Personal Data or after a final
                determination that your Personal Data was unlawfully processed. We may not accommodate a request to
                erase information if we believe the deletion would violate any law or legal requirement or cause the
                information to be incorrect. In all other cases, we will retain your Personal Data as set forth in this
                policy. In addition, we cannot completely delete your Personal Data as some data may rest in previous
                backups. These will be retained for the periods set forth in our disaster recovery policies. If you
                delete your User Contributions, copies of your User Contributions may remain viewable in cached and
                archived pages, or might have been copied or stored by other Website or Application users.
            </p>
            <p>
                • You have the right to lodge a complaint with the applicable supervisory authority in the country you
                live in, the country you work in, or the country where you believe your rights under applicable data
                protection laws have been violated. However, before doing so, we request that you contact us directly in
                order to give us an opportunity to work directly with you to resolve any concerns about your privacy.
            </p>
            <p>
                • How You May Exercise Your Rights. You may exercise any of the above rights by contacting us through
                any of the methods listed under Contact Information If you contact us to exercise any of the foregoing
                rights, we may ask you for additional information to verify your identity. We reserve the right to limit
                or deny your request if you have failed to provide sufficient information to verify your identity or to
                satisfy our legal and business requirements. Please note that if you make unfounded, repetitive, or
                excessive requests (as determined in our reasonable discretion) to access your Personal Data, you may be
                charged a fee subject to a maximum set by applicable law.

            </p>

            <div class="row">
                <div class="col">
                    <h3>10. Data Security</h3>
                </div>
            </div>

            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                Information transmitted over the Internet is not completely secure, but we do our best to protect your
                Personal Data. You can help protect your Personal Data and other information by keeping your password to
                our Website confidential.</p>


            <p>We have implemented measures designed to secure your Personal Data from accidental loss and from
                unauthorized access, use, alteration, and disclosure. We use encryption technology for information sent
                and received by us.</p>
            <p>The safety and security of your information also depends on you. Where you have chosen a password for the
                use of our Application, you are responsible for keeping this password confidential. We ask you not to
                share your password with anyone.</p>

            <p>
                Unfortunately, the transmission of information via the internet is not completely secure. Although we do
                our best to protect your Personal Data, we cannot guarantee the security of your Personal Data
                transmitted to our Website or on or through our Application. Any transmission of Personal Data is at
                your own risk. We are not responsible for circumvention of any privacy settings or security measures
                contained on the Website, in your operating system, or in the Application.
            </p>

            <div class="row">
                <div class="col">
                    <h3>11. Location-Enabled Features</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                Certain location enabled features of our Website and Application may be made available through third
                party vendors with additional terms and conditions and privacy practices. </p>

            <p>Certain location-enabled functionality made available in the Website and Application is provided by
                Google, Apple Inc., and other third party providers. Your use of that functionality may be subject to
                additional privacy (and other) terms and conditions (as updated from time-to-time), including the terms
                that are accessible through:<u> http://www.google.com/intl/en-US_US/help/terms_maps.html </u>and <u>
                    https://www.apple.com/legal/internet-services/maps/terms-en.html.</u> You must exercise your own
                judgment as to the adequacy and appropriateness of the sharing of this information with us.</p>
            <div class="row">
                <div class="col">
                    <h3>12. Changes to Our Privacy Policy</h3>
                </div>
            </div>
            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">


                We will post any changes to our Privacy Policy on our Website. If we make material changes to our
                Privacy Policy, we may notify you of such changes through your contact information and invite you to
                review (and accept, if necessary) the changes.
            </p>


            <p>

                We may change this Privacy Policy at any time. It is our policy to post any changes we make to our
                Privacy Policy on this page with a notice that the Privacy Policy has been updated on the Website’s home
                page or the Application’s home screen. If we make material changes to how we treat our users’ Personal
                Data, we will notify you by email to the email address specified in your account or through a notice on
                the Website’s home page or the Application’s home screen. The date this Privacy Policy was last revised
                is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and
                deliverable email address for you, and for periodically accessing the Application or visiting our
                Website and reviewing this Privacy Policy to check for any changes.
            </p>

            <div class="row">
                <div class="col">
                    <h3>13. Data Retention Periods</h3>
                </div>
            </div>


            <div style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">


                <p> We retain your Personal Data for as long as you keep your account open. In some instances, we may
                    keep it after you close your account, for example we may keep it:

                </p>
                • on our backup and disaster recovery systems;
                </p>
                <p>
                    • for as long as necessary to protect our legal interests; and
                </p>
                <p>
                    • and to comply with other legal requirements.
                </p>
            </div>
            <p>
                Aodh Petcare will retain your Personal Data for the entire time that you keep your account open. After
                you close your account, we may retain your Personal Data:
            </p>
            <p>
                • for as long as necessary to comply with any legal requirement;
            </p>
            <p>
                • on our backup and disaster recovery systems in accordance with our backup and disaster recovery
                policies and procedures;
            </p>
            <p>
                • for as long as necessary to protect our legal interests or otherwise pursue our legal rights and
                remedies; and
            </p>
            <p>
                • for data that has been aggregated or otherwise rendered anonymous in such a manner that you are no
                longer identifiable, indefinitely.

            </p>


            <div class="row">
                <div class="col">
                    <h3>
                        14. Contact Information</h3>
                </div>
            </div>

            <p style="border-color: black;border-style: solid;border-width: 0.75px;padding: 4px;">
                You may contact us through the contact information below.</p>
            <p>
                If you have any questions, concerns, complaints, or suggestions regarding our Privacy Policy or
                otherwise need to contact us, you may contact us at the contact information below or through the
                “Contact” page on our Website or in the Application.
            </p>

            <p>
                How to Contact Us:
            </p>
            <p>
                By Mail:
            </p>
            <p>
                Aodh Intelligence Private Limted
            </p>
            <p>
                II Floor, 12-5-32/8, Next to Abbott India,
            </p>
            <p>
                Vijayapuri,Tarnaka SECUNDRABAD Hyderabad TG 500017 IN
            </p>
            <p>
                By Telephone:
            </p>
            <p>
                +91- 40 48503612
            </p>
            <p>
                By Email: aodhpetcare@gmail.com
            </p>

            <p>
                COPYRIGHT NOTICE
            </p>
            <p>
                COPYRIGHT © AODH INTELLIGENCE PRIVATE LIMITED 2020 ALL RIGHTS RESERVED.
            </p>
            <p>
                All other trademarks appearing on ‘Aodh Petcare’ web application are the property of their respective
                owners.
            </p>
            <p>
                Any rights not expressly granted herein are reserved.
            </p>




        </div>



    </div>
</body>

</html>