<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>cancellation policy</title>
</head>
<style>
       p{
         text-align: justify;
         word-spacing:-1px;

     }
    </style>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3> CANCELLATION POLICY </h3>
                    </div>
                </div>
           
          <p><b>Aodh Petcare</b> provides you the ability to pay online through a third-party payment gateway for some of the Services available on the application.</p>
        <p>If you choose to pay online, you may be directed to a third-party payment gateway to enable processing of the payment. This transaction will be governed by the terms and conditions and privacy policy of the third-party payment gateway.<b>Aodh Petcare</b> shall not be liable.</p>
    <p>    1.	if any transaction does not fructify or may not be completed or
    </p>
    <p> 2.	for any failure on part of the bank or the credit card or the third-party site or agency to perform any of its obligations or
    </p> 
    <p>3.	In respect of any loss or damage arising directly or indirectly arising out of the decline or acceptance of authorization for any transaction, for any reason whatsoever.
        </p>
        <div class="row">
            <div class="col">
                <h3>Missed Appointment Policy </h3>
                </div>
            </div>
<p>Our goal is to provide quality pet care to all our customers in a timely manner. Late arrivals, and cancellations inconvenience not only our providers, but our other customers as well. Please be aware of our policy regarding missed appointments.</p>

<div class="row">
    <div class="col">
        <h3>Appointment Cancellation </h3>
        </div>
    </div>
<p>When you book your appointment, you are holding a space on our calendar that is no longer available to our other patients. In order to be respectful of your fellow patients, please call<b>Aodh Petcare</b> as soon as you know you will not be able to make your appointment.</p>
    <p>If cancellation is necessary, we require that you call at least 12 Hours in advance. Appointments are in high demand, and your advanced notice will allow another patient access to that appointment time.</p>
   
    <div class="row">
        <div class="col">
            <h3>How to Cancel Your Appointment</h3>
            </div>
        </div>
    <p>If you need to cancel your appointment, please call us at <b>+91- 40 48503612</b> between the hours of 7am-11pm. If necessary, you may drop a mail to <u>aodhpetcare@gmail.com.</u> We will return to you as soon as possible.</p>
    <div class="row">
        <div class="col">
            <h3> Late Cancellations</h3>
            </div>
        </div>
        <p>A cancellation is considered late when the appointment is cancelled less than 12 Hours before the appointed time. A no-show is when a patient misses an appointment without cancelling. In either case, we will charge the patient total amount as missed appointment fee.</p>
   
</div>
        </div>
</body>
</html>