<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor Registration</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper">
            <div class="container" style="text-align: center;">
              <div class="row" style="text-align: right;">
                <div class="col">
                  <a href="{% url 'admin_home_page' %}" role='button' class="btn btn-success">Home</a>
                </div>
              </div>
    <form class=""  method="post">
      {% csrf_token %}
    <h1>Doctor Registration</h1>
    <div class="row">
      <div class="col">
        <label for="f_name">First name</label>
    <input type="text" name="first_name" value="" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
         <label for="f_name">Last name</label>
    <input type="text" name="last_name" value="">
      </div>
    </div>
    <div class="row">
      <div class="col">
   
    <label for="f_name">Gender</label>
    <input type="text" name="gender" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="date_of_birth">Date of birth</label>
    <input type="date" name="dob" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="experience">Experience</label>
    <input type="number" name="experience" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="hospital">Hospital</label> 
    <input type="text" name="hospital" value="" required>
</div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Email</label>
    <input type="text" name="email" value="">
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Mobile</label>
    <input type="text" name="mobile" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Telephone</label>
    <input type="text" name="telephone" value="">
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Address</label>
    <input type="textarea" name="address" value="">
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Registration number</label>
    <input type="text" name="reg_no" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="consultation_fee">Consultation fee</label>
    <input type="number" name="consultation_fee" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="subscription_fee">Subscription fee</label>
    <input type="number" name="subscription_fee" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Password</label>
    <input type="text" name="password" value="" required>
  </div>
</div>
<div class="row">
      <div class="col">
    <label for="f_name">Qualification</label>
    <input type="text" name="Qualification" value="">
  </div>
</div>
    <div class="row">
      <div class="col">
    <input type="radio" name="Mode" value="online" required>
    <label for="online">Online</label>

  <input type="radio" id="offline" name="Mode" value="offline">
  <label for="offline">Offline</label>
  <input type="radio" id="both" name="Mode" value="both">
  <label for="both">Both</label>
 </div>
</div>
  <div class="row">
      <div class="col">
<label for="stock_management">STOCK MANAGEMENT</label>

  <input type="radio" name="stock_management" value="yes" required>
    <label for="yes">YES</label>
  <input type="radio" id="stock" name="stock_management" value="no">
  <label for="no">NO</label>
</div>
</div>
<div class="row">
      <div class="col">
  <label for="stock_management">Live status</label>
  <input type="radio" name="live_management" value="yes" required >
    <label for="yes">YES</label>

  <input type="radio" id="stock" name="live_management" value="no">
  <label for="no">NO</label>
</div>
</div>

<div class="row">
      <div class="col">
    <input type="submit" class="btn" value="submit">
  </div>
</div>

  </form>
</div>
</div>
  </body>
</html>
