<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Create Vet News</h1>
  <br>
  <form  method="post">
    {% csrf_token %}
    <label for="title">title:</label>
    <input type="text" name="title" value="">
    <label for="location">location:</label>
    <input type="text" name="location" value="">
    <label for="date">date</label>
    <input type="date" name="posted_date" value="">
    <label for="time">time</label>
    <input type="time" name="posted_time" value="">
    <label for="content">content</label>
    <input type="textarea" name="content" value="">
    <label for="link">Link</label>
    <input type="textarea" name="link" value="">
    <input type="submit" name="" value="submit">
  </form>
  </body>
</html>
