<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Customer Registration</h1>
    <form class=""  method="post">
      {% csrf_token %}
    <label for="f_name">customer id</label>
    <input type="text" name="customer_id" value=""><br>
    <label for="f_name">first name</label>
    <input type="text" name="first_name" value=""><br>
    <label for="f_name">last name</label>
    <input type="text" name="last_name" value=""><br>
    <label for="f_name">email</label>
    <input type="text" name="email" value=""><br>
    <label for="f_name">mobile</label>
    <input type="text" name="mobile" value=""><br>
    <label for="f_name">password</label>
    <input type="text" name="password" value=""><br>
    <input type="submit" name="" value="submit">
  </form>
  </body>
</html>
