<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>seminar</h1>
    {% for seminar in seminars%}
<div class="" style="border:red solid 2px">
    <table>
      <tbody>
        <td><b>title:</b>
        {{seminar.title|title}}</td>
        <td><b>location:</b>
        {{seminar.location}}</td>
        <td>
          <b>date:</b>
          {{seminar.date}}</td>
          <td>
            <b>time:</b>
            {{seminar.timings}}</td>
    <table>
      <tbody>
        <td><b>content</b>
        {{seminar.content}}</td>
      </tbody>
    </table>
  </div>
    {% endfor %}
  </body>
</html>
