<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>conferences</h1>
    {% for conference in conferences %}
<div class="" style="border:lightblue solid 2px">
    <table>
      <tbody>
        <td><b>Title:</b>
        {{conference.title|title}}</td>
        <td><b>Location:</b>
        {{conference.location}}</td>
        <td>
          <b>Date:</b>
          {{conference.date}}</td>
          <td>
            <b>Time:</b>
            {{conference.timings}}</td>
    <table>
      <tbody>
        <td><b>Content</b>
        {{conference.content}}</td>
      </tbody>
    </table>
  </div>
    {% endfor %}
  </body>
</html>
